@import './mixin'

body, html
  height: 100%

.global-spinner
  position: absolute
  top: 50%
  width: 100%
  text-align: center
  display: none

.viewport
  position: relative

  > *
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

    &:not(.active)
      display: none

body.stage
  > header

    position: absolute
    left: 0
    top: 0
    right: 0

  > article
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

  > footer
    position: absolute
	display: none
    left: 0
    bottom: 0
    right: 0

.panel
  vbox()

  > article
    box-flex(1)

    overflow: auto
    -webkit-overflow-scrolling: touch

img
  border-radius: 5px

li,ul
	text-align:center
	margin:0px auto
	padding:0px

#red
	color:red
	
	

img#mian_desc
	width:120px
	height:120px
	
.p_button	
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, rgba(255, 255, 255, 0.40)), color-stop(0.5, rgba(255, 255, 255, 0.00))), #F6F6F7
    padding: 4px 10px 4px
    margin-bottom: 0
    font-size: 13px
    line-height: 18px
    color:  #333
    text-align: center
    text-shadow: 0 1px 1px 
    rgba(255, 255, 255, 0.75)
    vertical-align: middle
    background-image: -o-linear-gradient(top, white, #E6E6E6)
    background-image: linear-gradient(top, white, #E6E6E6)
    border-radius: 5px
	

@import './theme'

@import './views/city'
@import './views/map'
@import './views/hostel'

@import './views/detail'

body.stage > article
  bottom: 80px;
