@import './mixin'

body, html
  height: 100%

.global-spinner
  position: absolute
  top: 50%
  width: 100%
  text-align: center
  display: none

.viewport
  position: relative

  > *
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

    &:not(.active)
      display: none

body.stage
  > header

    position: absolute
    left: 0
    top: 0
    right: 0

  > article
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

  > footer
    position: absolute
	display: none
    left: 0
    bottom: 0
    right: 0

.panel
  vbox()

  > article
    box-flex(1)

    overflow: auto
    -webkit-overflow-scrolling: touch

img
  border-radius: 5px

li,ul
	text-align:center
	margin:0px auto
	padding:0px

#red
	color:red

@import './theme'

@import './views/city'
@import './views/map'
@import './views/hostel'

@import './views/detail'

body.stage > article
  bottom: 80px;
