.hostel

  margin: 0px
  height: 70px
  padding: 5px
  

  color: #292D39

  text-shadow: 0 1px 0 white
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, rgba(255, 255, 255, 0.40)), color-stop(0.5, rgba(255, 255, 255, 0.00))), #F6F6F7

.photo
    img
      height: 60px

.detail, .photos, .rooms
  padding: 0px
  margin: 0px

  color: #292D39
  text-shadow: 0 1px 0 white
  background: #FFF
  
#logo_images
		width: 60px 
		height: 60px 
	  border-radius: 16px
		
#photo_left
	margin: 5px 10px 5px 5px
	float:left

.meta
	float:right
	font-size:12px
	margin-right:50px
	width:130px
	
.title
	
.title div
	margin-top:5px
	
.name
	font-size:14px

.red
	color:red
	font-size:16px

#blank
	height:200px

#goto img
	float:right
	margin-top:-20px
	margin-right:-170px