.hostel
  margin: 10px
  border-radius: 5px
  height: 70px
  padding: 5px
  

  border: 1px solid rgba(0, 0, 0, 0.1)
  color: #292D39
  text-shadow: 0 1px 0 white
  background: #EEE

.detail, .photos, .rooms
  padding: 0px
  margin: 0px

  color: #292D39
  text-shadow: 0 1px 0 white
  background: #FFF
  
#logo_images
		width: 60px 
		height: 60px 
	  border-radius: 16px
		
#photo_left
	margin: 15px 10px 5px 5px
	float:left

.meta
	float:right
	font-size:12px
	
.title
	
.title div
	margin-top:5px
	
.name
	font-size:14px

.red
	color:red
	font-size:14px