.hostel
  padding: 0 15px
  margin: 20px
  border-radius: 16px
  line-height: 50px

  border: 1px solid rgba(0, 0, 0, 0.1)
  color: #292D39
  text-shadow: 0 1px 0 white
  background: #FFF

.detail, .photos, .rooms
  padding: 0 15px
  margin: 20px
  border-radius: 16px

  border: 1px solid rgba(0, 0, 0, 0.1)
  color: #292D39
  text-shadow: 0 1px 0 white
  background: #FFF
  
